doctype html
html(lang="es")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Web Scraping
    link(rel='stylesheet', type='text/css', href='./style.css')
body
    div(id="page")  
        each element in images
            div(class="media__card") 
                img(src=element)